.card {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.1s ease-in;

	&:hover {
		transform: translate(3px, -3px);
		box-shadow: -3px 3px 10px rgb(94, 94, 94);
	}
}

.cardImage {
	height: 200px;
	width: auto;
	margin-top: 1rem;
	box-shadow: 10px 10px 10px grey;
}

.cardBody {
	width: 230px;
	margin-top: 1rem;
}

.cardBodyCategory {
	text-decoration: underline;
	opacity: 50%;
}

.cardBodyTitle {
	font-size: 1.1rem;
}

.cardBodyAuthor {
	font-size: 0.8rem;
	opacity: 50%;
}
