.modalCard {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	border: none;
}

.modalImage {
	width: auto;
}

.modalBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}